<!-- 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons> -->
<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="notification">
      <ion-icon name="people"></ion-icon>
      <ion-label color="white"></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="specific">
      <ion-icon name="medal-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="staff">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
