<ion-content>
  <div class="pin">
    <h5 *ngIf="sharedData.createPin">{{sharedData.createPin}}</h5>
    <p *ngIf="sharedData.uniquePin"  style="color: red">{{sharedData.uniquePin}}</p>

  </div>

  <div class="input">
    <div class="input-child">
      <div *ngIf="pin.length >= 1" class="key"></div>
      <div *ngIf="pin.length >= 2" class="key"></div>
      <div *ngIf="pin.length >= 3" class="key"></div>
      <div *ngIf="pin.length >= 4" class="key"></div>
    </div>
  </div>
  <ion-card>
    <div class="calculator-grid">
      <ion-button fill="clear" shape="round" (click)="key('1')">1</ion-button>
      <ion-button fill="clear" shape="round"  (click)="key('2')">2</ion-button>
      <ion-button fill="clear" shape="round" (click)="key('3')">3</ion-button>
      <ion-button fill="clear" shape="round" (click)="key('4')">4</ion-button>
      <ion-button fill="clear" shape="round" (click)="key('5')">5</ion-button>
      <ion-button fill="clear" shape="round" (click)="key('6')">6</ion-button>
      <ion-button fill="clear" shape="round" (click)="key('7')">7</ion-button>
      <ion-button fill="clear" shape="round" (click)="key('8')">8</ion-button>
      <ion-button fill="clear" shape="round" (click)="key('9')">9</ion-button>
      <ion-button fill="clear" shape="round" (click)="remove()">
        <span class="special"><ion-icon name="backspace-outline"></ion-icon></span></ion-button>
      <ion-button fill="clear" shape="round" (click)="key('0')">0</ion-button>
      <ion-button fill="clear" shape="round"><span class="yellow">ok</span></ion-button>
  </div>
  <div class="btn">
    <ion-button (click)="lauchModal('forgot-password')" fill="clear" *ngIf="!sharedData.location">Forgot PIN</ion-button>
    <ion-button (click)="later()" fill="clear" *ngIf="sharedData.location">Later</ion-button>
  </div>
</ion-card>
</ion-content>
