.pin{
    text-align:center;
    padding-top:20px;
    font-size:10px;
    color:#057074
    
}


h5{
  font-weight:bold; 
  font-size:15px;     
}

.input{
    text-align:center;
    // padding:18px 80px;
    background-color:#ece9e9;
    margin:50px;
    margin-top:20px;
    margin-bottom:25px;
    border-radius:30px;
    height: 40px;
}

.input-child {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key {
    height: 20px;
    background: red;
    border-radius: 50%;
    width: 20px;
    margin: 0px 4%;
}

ion-card{
    margin:50px;
    margin-top:20px;
    padding:10px;
}
// .main{
//     background:rgb(245, 242, 242);
//     margin:0px 50px;
//     border-radius:20px
// }

.calculator-grid{
    display:grid;
    justify-content:center;
    align-content:center;
    padding-bottom:20px;
    grid-template-columns: repeat(3, 75px);
    grid-template-rows: minmax(75px, auto) repeat(3, 75px);
}

.calculator-grid > ion-button{
    cursor:pointer;
    font-size:20px;
    color:black;
    border: 0px solid #fff;
    outline:none;
    margin:10px;
    box-shadow: 1px 3px  3px #859292;
    border-radius:50%;
}

.btn{
    text-align:center;
}
 ion-button{
    font-size:11px;
    text-align:"center";
    color:#057074
}

.special ion-icon{
    font-size:20px;
    color:red;
    text-align:center
}

.yellow{
    color:#057074
}
